@charset "utf-8";
@import 'mixins.less';



/*	#################### - Developer stebnev-studio.ru - ########################	*/
/*	Чистка умолчаний																*/
/*	#################### - Developer stebnev-studio.ru - ########################	*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{
	margin:								0;
	padding:							0;
	border:								0;
	outline:							none;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section{display:block;}



/*	#################### - Developer stebnev-studio.ru - ########################	*/
/*	Сетка																			*/
/*	#################### - Developer stebnev-studio.ru - ########################	*/
.GridTab{
	padding: @JasetKit-GridTabPadding;
	.box-sizing(border-box);
	.flexbox(stretch; flex-start; flex-start; wrap row);
	&.ClearPadding{padding:0px;}
	&.ClearPaddingTop{padding-top:0px;}
	&.ClearPaddingleft{padding-left:0px;}
	&.ClearPaddingRight{padding-right:0px;}
	&.ClearPaddingBottom{padding-bottom:0px;}
	&>.GridCol{
		padding: @JasetKit-GridColPadding;
		.box-sizing();
		.flex(0; 0; auto);
		&.ClearPadding{padding:0px;}
		&.ClearPaddingTop{padding-top:0px;}
		&.ClearPaddingleft{padding-left:0px;}
		&.ClearPaddingRight{padding-right:0px;}
		&.ClearPaddingBottom{padding-bottom:0px;}
	}
}
.Foreach-GridTab(1; @JasetKit-GridCount; @FullSize-Name);
@media all and (max-width: (@FullSizeSmall - 1px)){.Foreach-GridTab(1; @JasetKit-GridCount; @FullSizeSmall-Name);}
@media all and (max-width: (@FullSizeMini - 1px)){.Foreach-GridTab(1; @JasetKit-GridCount; @FullSizeMini-Name);}
@media all and (max-width: (@Desktop - 1px)){.Foreach-GridTab(1; @JasetKit-GridCount; @Desktop-Name);}
@media all and (max-width: (@DesktopSmall - 1px)){.Foreach-GridTab(1; @JasetKit-GridCount; @DesktopSmall-Name);}
@media all and (max-width: (@DesktopMini - 1px)){.Foreach-GridTab(1; @JasetKit-GridCount; @DesktopMini-Name);}
@media all and (max-width: (@Laptop - 1px)){.Foreach-GridTab(1; @JasetKit-GridCount; @Laptop-Name);}
@media all and (max-width: (@LaptopSmall - 1px)){.Foreach-GridTab(1; @JasetKit-GridCount; @LaptopSmall-Name);}
@media all and (max-width: (@LaptopMini - 1px)){.Foreach-GridTab(1; @JasetKit-GridCount; @LaptopMini-Name);}
@media all and (max-width: (@Tablet - 1px)){.Foreach-GridTab(1; @JasetKit-GridCount; @Tablet-Name);}
@media all and (max-width: (@TabletSmall - 1px)){.Foreach-GridTab(1; @JasetKit-GridCount; @TabletSmall-Name);}
@media all and (max-width: (@TabletMini - 1px)){.Foreach-GridTab(1; @JasetKit-GridCount; @TabletMini-Name);}
@media all and (max-width: (@Mobile - 1px)){.Foreach-GridTab(1; @JasetKit-GridCount; @Mobile-Name);}
@media all and (max-width: (@MobileSmall - 1px)){.Foreach-GridTab(1; @JasetKit-GridCount; @MobileSmall-Name);}
@media all and (max-width: (@MobileMini - 1px)){.Foreach-GridTab(1; @JasetKit-GridCount; @MobileMini-Name);}
.set-air(5; 200; 5);



/*	#################### - Developer stebnev-studio.ru - ########################	*/
/*	Документ																		*/
/*	#################### - Developer stebnev-studio.ru - ########################	*/
html,body{
	width:								100%;
	min-height:							100vh;
	line-height:						@LineHeight;
	background:							@ColorWhite;
	font-family:						@FontFamily;
	font-size:							@FontSize;
	font-weight:						@FontRegular;
	color: 								@ColorDark3;
}
h2 {
	font-family:						@FontFamilySFProTextBold;
	font-weight:					 	@FontBold;
	color:								@ColorGray;
	font-size:							@H2Size;
	text-align:							center;
	line-height:						36px;
	padding:							0 20px;
}
h6 {
	font-family:						@FontFamilySFProTextRegular;
	font-weight:						@FontRegular;
	color:								@ColorGray2;
	font-size:							@H6Size;
	margin-top:							20px;
	text-align:							center;
	padding:							0 20px;
}
.container	{
	max-width: 							@ContainerWidth;
	margin:								0 auto;
}
section {
	padding: 							70px 0
}



/*	#################### - Developer stebnev-studio.ru - ########################	*/
/*	категории 																		*/
/*	#################### - Developer stebnev-studio.ru - ########################	*/
.category>.container>.categoryContent {
	display: 							flex;
	flex-wrap: 							wrap;
	margin-top: 						70px;
	justify-content: 					space-around;
}
.category>.container>.categoryContent>.contentCard {
	position: 							relative;
	height: 							auto;
	display: 							flex;
	flex-direction:						column;
	align-items: 						center;
	background-color: 					@ColorWhite;
	margin-bottom: 						70px;
	padding-bottom: 					20px;
	.calc(width; ~'(100% / 4) - 20px');
	// .box-shadow(0px 7px 54px rgba(0, 0, 0, 0.07));
	box-shadow: 0 7px 54px rgba(0,0,0,0.07);
	.border-radius(10px);
}
.category>.container>.categoryContent>.contentCard>.contentCardLabelWrapp {
	display: 							flex;
	position: 							absolute;	
	transform: 							translateY(-50%);
	left: 								20px;
}
.category>.container>.categoryContent>.contentCard>.contentCardLabelWrapp>.contentCardLabel1 {
	font-family: 						@FontFamilyHouschkaProBold;
	color: 								@ColorWhite;
	font-size: 							15px;
	text-align: 						center;
	line-height: 						50px;
	background-color: 					@ColorGray4;
	margin-right: 						20px;
	text-transform: 					uppercase;
	.box(50px; 50px);
	.border-radius(100px);
}
.category>.container>.categoryContent>.contentCard>.contentCardLabelWrapp>.contentCardLabel2 {
	font-family: 						@FontFamilyHouschkaProBold;
	color: 								@ColorWhite;
	font-size: 							15px;
	text-align: 						center;
	line-height: 						50px;
	background-color: 					@ColorDark8;
	margin-right: 						20px;
	text-transform: 					uppercase;
	.box(50px; 50px);
	.border-radius(100px);
} 
.category>.container>.categoryContent>.contentCard>.contentCardImgWrapp {
	width: 								100%;
	height: 							320px;
	background: 						linear-gradient(0deg, @ColorGray3, @ColorGray3);
	.border-radius(10px);
}
.category>.container>.categoryContent>.contentCard>.contentCardImgWrapp>.contentCardImg {
	display:							block;
	margin: 							0 auto;
	padding-top: 						96px;
}
.category>.container>.categoryContent>.contentCard>.contentCardTitle {
	font-family: 						@FontFamilyRobotoRegular;
	font-size: 							18px;
	color: 										@ColorDark6;
	margin-top: 						20px;
}
.category>.container>.categoryContent>.contentCard>.contentCardArticle {
	margin-top: 						5px;
	text-align: 						center;
	line-height: 						150%;
	font-family: 						@FontFamilySFProTextRegular;
	font-size: 							16px;
	color: 								@ColorGray2;
}
.category>.container>.categoryContent>.contentCard>.contentCardPrice {
	display: 							flex;
	margin-top: 						18px;
	justify-content: 					center;
}
.category>.container>.categoryContent>.contentCard>.contentCardPrice>.contentCardPriceOld {
	font-family: 						@FontFamilyRobotoMedium;
	font-size: 							13px;
	text-decoration: 					line-through;
	margin-right: 						24px;
}
.category>.container>.categoryContent>.contentCard>.contentCardPrice>.contentCardPriceNew {
	font-family: 					"Roboto Medium";
	font-size: 						18px;
}	
.category>.container>.categoryContent>.contentCard>.buttonContentCard {
	margin-top: 						17px;
	border: 							none;
	background-color: 					@ColorDark7;
	color: 								@ColorWhite;
	font-family: 						@FontFamilyFiraSansRegular;
	font-size: 							16px;
	text-align: 						center;
	text-transform: 					uppercase;
	.border-radius(50px);
	.box(161px; 48px);
}
.category>.container>.pagination {
	.flexbox(center; center; center);
}	
.category>.container>.pagination>.pagination-item {
	font-family: 						@FontFamilySFProTextRegular;
	font-size: 							15px;
	border: 							1px solid @ColorDark1;
	margin:								0 5px;
	.box(32px; 32px; center; center; center);
	.border-radius(8px);
}
.category>.container>.pagination>.pagination-item_active {
	.box(32px; 32px; @ColorDark1; center; center; center);
}
@media all and (max-width: (@Laptop - 1px)) {
	.category>.container>.categoryContent>.contentCard {
		.calc(width; ~'(100% / 3) - 20px');
	}
}
@media all and (max-width: (@TabletSmall - 1px)) {
	.category>.container>.categoryContent>.contentCard {
		.calc(width; ~'(100% / 2) - 20px');
	}
}
@media all and (max-width: (@Mobile - 1px)) {
	.category>.container>.categoryContent>.contentCard {
		.calc(width; ~'100% - 20px');
	}
}



/*	#################### - Developer stebnev-studio.ru - ########################	*/
/*	 слайдер																		*/
/*	#################### - Developer stebnev-studio.ru - ########################	*/
.slider>.container>.sliderContent {
	margin-top: 70px;
	.flexbox(center; space-around; center; nowrap row);
}
.slider>.container>.sliderContent>.contentCard {
	position: 							relative;
	height: 							auto;
	display: 							flex;
	flex-direction:						column;
	align-items: 						center;
	background-color: 					@ColorWhite;
	margin-bottom: 						70px;
	padding-bottom: 					20px;
	.calc(width; ~'(100% / 4) - 20px');
	// .box-shadow(0px 7px 54px rgba(0, 0, 0, 0.07));
	box-shadow: 0 7px 54px rgba(0,0,0,0.07);
	.border-radius(10px);
}

.slider>.container>.sliderContent>.contentCard>.contentCardLabelWrapp {
	display: 							flex;
	position: 							absolute;	
	transform: 							translateY(-50%);
	left: 								20px;
}
.slider>.container>.sliderContent>.contentCard>.contentCardLabelWrapp>.contentCardLabel1 {
	font-family: 						@FontFamilyHouschkaProBold;
	color: 								@ColorWhite;
	font-size: 							15px;
	text-align: 						center;
	line-height: 						50px;
	margin-right: 						20px;
	text-transform: 					uppercase;
	.box(50px; 50px; @ColorGray4);
	.border-radius(100px);
}
.slider>.container>.sliderContent>.contentCard>.contentCardLabelWrapp>.contentCardLabel2 {
	font-family: 						@FontFamilyHouschkaProBold;
	color: 								@ColorWhite;
	font-size: 							15px;
	text-align: 						center;
	line-height: 						50px;
	margin-right: 						20px;
	text-transform: 					uppercase;
	.box(50px; 50px;@ColorDark8);
	.border-radius(100px);
} 
.slider>.container>.sliderContent>.contentCard>.contentCardImgWrapp {
	background: 						linear-gradient(0deg, @ColorGray3, @ColorGray3);
	.border-radius(10px);
	.box(100%; 320px; )
}
.slider>.container>.sliderContent>.contentCard>.contentCardImgWrapp>.contentCardImg {
display:								block;
margin: 								0 auto;
padding-top: 							96px;
}
.slider>.container>.sliderContent>.contentCard>.contentCardTitle {
	font-family: 						@FontFamilyRobotoRegular;
	font-size: 							18px;
	color: 								@ColorDark6;
	margin-top: 						20px;
}
.slider>.container>.sliderContent>.contentCard>.contentCardArticle {
	margin-top: 						5px;
	text-align: 						center;
	line-height: 						150%;
	font-family: 						@FontFamilySFProTextRegular;
	font-size: 							16px;
	color: 								@ColorGray2;
}
.slider>.container>.sliderContent>.contentCard>.contentCardPrice {
	margin-top: 						18px;
	.flexbox-justify-content(center);
}
.slider>.container>.sliderContent>.contentCard>.contentCardPrice>.contentCardPriceOld {
	font-family: 						@FontFamilyRobotoMedium;
	font-size: 							13px;
	text-decoration: 					line-through;
	margin-right: 						24px;
}
.slider>.container>.sliderContent>.contentCard>.contentCardPrice>.contentCardPriceNew {
	font-family: 						@FontFamilyRobotoMedium;
	font-size: 							18px;
}	
.slider>.container>.sliderContent>.contentCard>.buttonContentCard {
	margin-top: 						17px;
	border: 							none;
	background-color: 					@ColorDark7;
	color: 								@ColorWhite;
	font-family: 						@FontFamilyFiraSansRegular;
	font-size: 							16px;
	text-align: 						center;
	text-transform: 					uppercase;
	.border-radius(50px);
	.box(161px; 48px; @ColorDark7);
}
.slider>.container>.buttonWrapp {
	.flexbox( center; center; center)
}

.slider>.container>.buttonWrapp>button {
	border: 							none;
	margin: 							0 5px;
	.box(58px; 58px; @ColorDark1; center; center; center);
	.border-radius(100%);
}

.slider>.container>.buttonWrapp>button>div {
	border: 							solid 1px @ColorDark9;
	border-right: 						none;
	border-bottom: 						none;
	.box(12px; 12px; none ;center; center; center);
}

.slider>.container>.buttonWrapp>.Prev  {
	padding-right: 						1px;
}

.slider>.container>.buttonWrapp>.Next  {
	padding-left: 						1px;
}

.slider>.container>.buttonWrapp>.Prev> div {
	.rotate(-45);
}

.slider>.container>.buttonWrapp>.Next> div {
	.rotate(135);
}



/*	#################### - Developer stebnev-studio.ru - ########################	*/
/*	 Офер																			*/
/*	#################### - Developer stebnev-studio.ru - ########################	*/
.ofer {
	.box(100%; 547px);
	background: 						@ColorGray3 url('../images/Img_card.png') no-repeat center;
	margin: 0 auto;
}
.ofer>.container>h1 {
	margin-top: 						100px;
	font-family: 						@FontFamilySFProTextBold;
	font-size: 							54px;
}
.ofer>.container>.oferContent {
	font-family: 						@FontFamilyRobotoRegular;
	font-size: 							18px;
	margin-top: 						30px;
}
.ofer>.container>.oferWrap {
	margin-top: 						70px;
	.flexbox(center, flex-start, center)
}
.ofer>.container>.oferWrap>.oferBtnPrev {
	border: 							none;
	.box(58px; 58px; @ColorDark1 ;center ;center ;center);
	.border-radius(40px);
}
.ofer>.container>.oferWrap>.oferBtnNext {
	border:								none;
	margin-left: 						10px;
	.box(58px; 58px; @ColorDark1 ;center ;center ;center);
	.border-radius(40px);
}
.ofer>.container>.oferWrap>.oferBtnPrev>div {
	border: 							solid 1px @ColorDark9;
	border-right: 						none;
	border-bottom: 						none;
	padding-right: 						1px;
	.box(12px; 12px; none ;center; center; center);
	.rotate(-45);
}
.ofer>.container>.oferWrap>.oferBtnNext>div {
	border: 							solid 1px @ColorDark9;
	border-right: 						none;
	border-bottom:						none;
	padding-left: 						1px;
	.box(12px; 12px; none ;center; center; center);
	.rotate(135);
}
@media all and (max-width: (@FullSize - 1px)) {
	.ofer>.container> {
		padding: 0 50px;
	}
}
@media all and (max-width: (@FullSize - 1px)) {
	.ofer>.container> {
		padding: 0 30px;
	}
	.ofer>.container>h1 {
		font-size: 34px;
	}
	.ofer>.container>.oferContent {
		font-size: 14px;
	}
}


/*	#################### - Developer stebnev-studio.ru - ########################	*/
/*	 Материалы																		*/
/*	#################### - Developer stebnev-studio.ru - ########################	*/
.materials>.container>.materialsContent {
	display: 							flex;
	flex-wrap: 							wrap;
	margin-top: 						70px;
	justify-content: 					space-around;
	margin-top: 						70px;
}
.materials>.container>.materialsContent>.contentItem {
	position: 							relative;
	height: 							auto;
	display: 							flex;
	flex-direction:						column;
	align-items: 						center;
	background-color: 					@ColorWhite;
	margin-bottom: 						70px;
	padding-bottom: 					20px;
	.calc(width; ~'(100% / 4) - 20px');
	.border-radius(10px);
	// .box-shadow(0px 7px 54px rgba(0,0,0,0.07));
	box-shadow: 0 7px 54px rgba(0,0,0,0.07);
}
.materials>.container>.materialsContent>.contentItem>.imgItem {
	.box(100%; 320px; @ColorGray3; center; center; center);
	.border-radius(10px);
}
.materials>.container>.materialsContent>.contentItem>.dataItem {
	font-family: 						@FontFamilySFProTextRegular;
	font-size: 							13px;
	margin-top: 						20px;
	color:								@ColorGray2;
}
.materials>.container>.materialsContent>.contentItem>.nameItem {
	font-family: 						@FontFamilyRobotoRegular;
	font-size: 							18px;
	margin-top: 						10px;
	color:								@ColorDark6;
}
.materials>.container>.materialsContent>.contentItem>.descrItem {
	font-family: @FontFamilySFProTextRegular;
	font-size:							16px;
	margin-top: 						14px;
	color:								@ColorGray2;
}
.materials>.container>.materialsContent>.contentItem>.abautItem {
	padding: 0 10px;
	font-family: 						@FontFamilyFiraSansRegular;
	font-size: 							14px;
	margin-top: 						14px;
	color:								@ColorDark10;
	border-bottom: 						2px solid @ColorDark10;
}
@media all and (max-width: (@Laptop - 1px)) {
	.materials>.container>.materialsContent>.contentItem> {
		.calc(width; ~'(100% / 3) - 20px');
	}
}
@media all and (max-width: (@TabletSmall - 1px)) {
	.materials>.container>.materialsContent>.contentItem> {
		.calc(width; ~'(100% / 2) - 20px');
	}
}
@media all and (max-width: (@Mobile - 1px)) {
	.materials>.container>.materialsContent>.contentItem> {
		.calc(width; ~'100% - 20px');
	}
}
.categotyPath>.container>.pathContent {
	display: 							flex;
	flex-wrap: 							wrap;
	margin-top: 						70px;
	justify-content: 					space-around;
	margin-top: 						70px;
}
.categotyPath>.container>.pathContent>.contentItem {
	position: 							relative;
	height: 							auto;
	display: 							flex;
	flex-direction:						column;
	align-items: 						flex-start;
	background-color: 					@ColorWhite;
	margin-bottom: 						70px;
	padding-bottom: 					20px;
	.calc(width; ~'(100% / 4) - 20px');
}
.categotyPath>.container>.pathContent>.contentItem>.itemImg	{
	margin-top: 						20px;
}
.categotyPath>.container>.pathContent>.contentItem>.parentCategory	{
	font-family: 						@FontFamilySFProTextRegular;
	font-size: 							18px;
	color: 								@ColorDark11;
	text-decoration-line: 				underline;
	margin-top: 20px;
}
.categotyPath>.container>.pathContent>.contentItem>.childCategory {
	font-family: @FontFamilySFProTextRegular;
	font-size: 16px;
}
.categotyPath>.container>.pathContent>.contentItem>.childCategory>a {
	color: @ColorGray2;
}
@media all and (max-width: (@Laptop - 1px)) {
	.categotyPath>.container>.pathContent>.contentItem {
		.calc(width; ~'(100% / 3) - 20px');
	}
}
@media all and (max-width: (@TabletSmall - 1px)) {
	.categotyPath>.container>.pathContent>.contentItem {
		.calc(width; ~'(100% / 2) - 20px');
	}
}
@media all and (max-width: (@Mobile - 1px)) {
	.categotyPath>.container>.pathContent>.contentItem {
		.calc(width; ~'100% - 20px');
	}
}


